@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
style
{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;	
}
body
{
	background: #4169E1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vH;
	
}
.container

{ position: relative;
	width:100%;
	max-width: 1000px;
	min-height: 1000px;
	background-color: white;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}

.container  .left_Side

{
	position: relative;
	background: #00008B;
	padding: 40px;
}

.profileText

{
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba (255, 255, 255, 0.2);
	
}

.profileText .imgbox

{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.profileText .imgbox img

{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	object-fit:cover;
}

.profileText h2
{
	color: white;
	font-size: 1.5 em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight:600;
	line-height: 1.4 em;
}

.profileText h2 span
{
	font-size: 0.8em;
	font-weight:300;
	
	
}

.contactinfo
{
	padding-top:40px;
}

.title

{
	color:white;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:1px;
	margin-bottom: 20px;
	
}


.contactinfo ul 
{
	position:relative;
}

.contactinfo ul li 
{
	position:relative;
	list-style: none;
	margin: 10px 0;
	cursor:pointer;
	
}

.contactinfo ul li .icon

{
	
	width:30px;
	font-size: 18px;
	
	
}

.contactinfo ul li span 

{
	color:white;
	font-weight: 300;
}



.education span 

{
	color:white;
	font-weight:300;
}

.education ul li .icon

{
	
	width:30px;
	font-size: 18px;
	color:white;
	
	
}

.education ul li 

{
	margin: 10px 0;
}

 .container .right_Side
{
	position: relative;
	background: white;
	padding: 40px;
}

p 

{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}



   


	